body{
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  padding: 1em 2em;
}

a {
  color: #339;
  text-decoration: none;
}
a.home { color: #000; }

h1 { margin-bottom: 0.3em; }

h1 span.initials {
  color: #666;
  font-size: 0.5em;
  float: right;
  line-height: 3em;
}

h4 {
  margin:0;
  color: #AAA;
  font-style: italic;
}

.container{
  max-width: 36em;
  margin: 1em auto;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li { display: inline; }

.nav li.about { float: right; }

img { width: 100%; }

.caption {
  margin-top: 0;
  font-style: italic;
  color: #AAA;
  text-align: center;
}

@media (max-width: 320px) {
  body { padding: 1em; }
}
