body{
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  padding: 1em 2em;
}

a {
  color: #339;
  text-decoration: none;
}
a.home { color: #000; }

h1 { margin-bottom: 0.3em; }

h1 span.initials {
  color: #666;
  font-size: 0.5em;
  float: right;
  line-height: 3em;
}

h4 {
  margin:0;
  color: #AAA;
  font-style: italic;
}

img { width: 100%; }

.container{
  max-width: 36em;
  margin: 1em auto;
}

.nav,
.posts {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li { display: inline; }

.nav li.about { float: right; }

.posts { margin-top: 1em; }

.posts .date {
  display: inline-block;
  margin-right: 1em;
  width: 5em;
  text-align: right;
  color: #AAA;
  font-style: italic;
}

.caption {
  margin-top: 0;
  font-style: italic;
  color: #AAA;
  text-align: center;
}

.gist .gist-file {
  border: none !important;
  font-family: 'Crimson Text', serif !important;
}

.gist .gist-file .gist-data {
  background-color: transparent !important;
}

.gist .gist-file .gist-meta {
  font-family: 'Crimson Text', serif !important;
  text-shadow: none !important;
  background: none !important;
  padding: 0 !important;
}

@media (max-width: 320px) {
  body { padding: 1em; }
}
