<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,600,600italic' rel='stylesheet' type='text/css'>
    <link href='/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="stylesheet" href="/css/print.css" type="text/css" media="print">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21454135-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class="container">
      <h1>
        <a class="home" href="/">Semisynthetic</a>
        <span class="initials">dgb</span>
      </h1>
      <ul class="nav">
        <li><a href="https://github.com/dgb"><i class="icon-github icon-large"></i></a>
        <li><a href="https://twitter.com/dgb____"><i class="icon-twitter icon-large"></i></a>
        <li><a href="https://instagram.com/expresstracks"><i class="icon-camera-retro icon-large"></i></a>
        <li><a href="mailto:derekgeoffreybarnes@gmail.com"><i class="icon-envelope icon-large"></i></a>
      </ul>
      {{ content }}
    </div>
  </body>
</html>
